@model ComicBookGallery.Models.ComicBook
@{
    Layout = "_Layout";
    ViewBag.Title = "Comic Book Details";
}

<h1 class="text-center">@ViewBag.Title</h1>

<div class="row">
    <div class="col-12 col-md-8">
        <h3>@Model.SeriesTitle  <small><strong>IssueNo: </strong></small> @Model.IssueNo</h3>
        <hr>
        <img src="@Url.Content($"~/img/{Model.ConvertImageUrlToLower(Model.ImageUrl)}.jpg")" alt="@Model.SeriesTitle" class="img-fluid" />
        <h3 class="text-center"><strong>Description</strong></h3>
        <p class="text-center">@Model.Description</p>
    </div>
    <div class="col-12 col-md-4">
        <h3 class="text-center mt-3"><strong>Author(s)</strong></h3>
        <ul class="list-group list-group-flush">
            @if (Model.ComicBookAuthors != null)
            {
                @foreach (var comicBook in Model.ComicBookAuthors)
                {
                    <li class="list-group-item text-center">@comicBook.Author.FirstName @comicBook.Author.LastName</li>
                }
            }
        </ul>

        <hr>
        <h3 class="text-center mt-5"><strong>Publisher(s)</strong></h3>
        <ul class="list-group list-group-flush">
            @if (Model.ComicBookPublishers != null)
            {
                @foreach (var comicBook in Model.ComicBookPublishers)
                {
                    <li class="list-group-item text-center">@comicBook.Publisher.Name</li>
                }
            }
        </ul>
    </div>
</div>

