@model IEnumerable<ComicBook>


<table class="table table-hovered table-striped text-center">
    <thead class="bg-primary text-white">
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Published On</th>
            <th>Authors</th>
            <th>Publishers</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var comic in Model)
            {
                <tr>
                    <td>
                        <a asp-action="ComicBookDetails" asp-controller="ComicBook" asp-route-id="@comic.ComicBookId" class="no-style">
                            @comic.ComicBookId
                        </a>
                    </td>
                    <td>
                        <a asp-action="ComicBookDetails" asp-controller="ComicBook" asp-route-id="@comic.ComicBookId" class="no-style">
                            <img src="@Url.Content($"~/img/{comic.ConvertImageUrlToLower(comic.ImageUrl)}.jpg")" alt="@comic.SeriesTitle" style="max-width:100px; max-height:100px;" />
                        </a>
                    </td>
                    <td>
                        <a asp-action="ComicBookDetails" asp-controller="ComicBook" asp-route-id="@comic.ComicBookId" class="no-style">
                            @comic.SeriesTitle
                        </a>
                    </td>
                    <td>@comic.TruncateDescription(comic.Description)</td>
                    <td>@comic.PublishedOn.ToShortDateString()</td>
                    <td>
                        @if (comic.ComicBookAuthors != null)
                        {
                            @foreach (var author in comic.ComicBookAuthors)
                            {
                                <div>@author.FormatAuthors(author.Author.FirstName, author.Author.LastName)</div>
                            }
                        }
                        else
                        {
                            <p>There are no authors for this comic book.</p>
                        }
                    </td>
                    <td>
                        @if (comic.ComicBookPublishers != null)
                        {
                            @foreach (var publisher in comic.ComicBookPublishers)
                            {
                                <div>@publisher.FormatPublishers(publisher.Publisher.Name)</div>
                            }
                        }
                        else
                        {
                            <p>There are no publishers for this comic book.</p>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <p>There are no comic books available.</p>
        }
    </tbody>
</table>